.octodex{
  display: flex;
  justify-content: center;
}
.octocat {
  display: inline-block;
}
.octocat img{
  width: 350px;
  border: solid 1px #D7D7D7;
  margin-left: 20px;
  border-radius: 4px;
}
.authors{
  display: inline-flex;
  text-decoration: none;
  padding-left: 0;
}
.authors li{
  list-style: none;
}
.authors img{
  width: 25px;
  border-radius: 8px;
  margin-left: 0;
}
.image-footer{
  display: flex;
  align-items: baseline;
  margin-left: 20px;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: solid 2px;
  border-bottom-color: #D7D7D7;
  padding-bottom: 10px;
  color: #7D7E80;
  margin-right: 28px;
}
.image-footer a{
  text-decoration: none;
  color: #414247;
  font-weight: bold;
}
.image-number{
  color: #CDCFD1;
  font-weight: bold;
}
.image-number::before{
  content: '#'
}
.octocat > a::after{
    content: "";
    height: 0px;
    width: 0px;
    border-top: solid 10px #CACACA;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    position: relative;
    top:22.5px;
    right: 8%;
}
/* Hey Mikey*/
.newCat1{
  width: 350px;
  margin-left: 180px;
}
.newCat2{
  width: 350px;
  margin-left: 40px;
}
.newCat3{
  width: 350px;
  margin-left: 40px;
}
